<%- include('partials/header'); -%>

    <h1>PLACEMENT SHEETS</h1>

    <p>
        <%= PlacementSheets %>
    </p>

    <div>
        <blockquote>
            <h2>Striver Sheets :-</h2>
                <li class="HI">
                   <a href="https://takeuforward.org/interviews/strivers-sde-sheet-top-coding-interview-problems/" target="_blank">
                        Striver's
                        SDE Sheet - Top Coding Interview Problems</a>
                   </li>
                   <br>
                <li class="HI">
                   <a href="https://takeuforward.org/strivers-a2z-dsa-course/strivers-a2z-dsa-course-sheet-2/" target="_blank">
                        Striver's
                        A2Z DSA Course/Sheet</a>
                   </li>
            <h2>Love Babbar Sheets :-</h2>
                <li class="HI">
                   <a href="https://www.geeksforgeeks.org/dsa-sheet-by-love-babbar/" target="_blank" >
                        Love Babbar
                        DSA Sheet Course/Sheet</a>
                   </li>
                   <br>
            <h2>GFG Sheets :-</h2>
                <li class="HI">
                   <a href="https://practice.geeksforgeeks.org/explore?page=2&curated[]=1&sortBy=submissions&curated_names[]=SDE%20Sheet&utm_source=gfg&utm_medium=gfg_header&utm_campaign=gfgpractice_header" target="_blank" >
                        GFG SDE Sheet - Top Coding Interview Problems</a>
                   </li>
        </blockquote>
    </div>


    <%- include('partials/footer'); -%>